
@{
    ViewBag.Title = "Display";
}

<div id="map" style="width:1000px;height:500px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.9244627094586!2d108.22039631433674!3d16.06940914370266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421833d5d33d15%3A0xdbd9a00a7271b8c8!2zMzggWcOqbiBCw6FpLCBI4bqjaSBDaMOidSAxLCBI4bqjaSBDaMOidSwgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1545983032756" width="1000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

